﻿#container #header .branding {
   
    overflow: none;
    border-top: 4px solid #000;
    background-color: radial-gradient;
    /*background-image: url(../images/bg.jpg);*/
    background-repeat: repeat;
    background-position: center;
}

    #container #header .branding img {
        /*width: 200px;
        height:100px;*/
    }

        #container #header .branding span {
            float: right;
            margin: 0;
            font-size: 12px;
            color: #d4d4d4;
            background: rgba(0,0,0,.5);
            margin-right: 5px;
            padding: 3px 20px;
            font-weight: normal;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

    #container #header .branding img.logo {
        margin: 5px 0px 0px 4px;
    }
/*.global nav {
	font-family:\5FAE\8EDF\6B63\9ED1\9AD4, Microsoft JhengHei, MingLiU, sans-serif;
	background: #2d2d2d;
	-webkit-box-shadow: 0px 4px 0px 0px #3a3a3a, 0px 8px 0px 0px #385673;
	-moz-box-shadow: 0px 4px 0px 0px #3a3a3a, 0px 8px 0px 0px #385673;
	box-shadow: 0px 4px 0px 0px #3a3a3a, 0px 8px 0px 0px #385673;
	min-height: 40px;
}
.global nav #hamburger {
	display: none;
	cursor: pointer;
	text-align: center;
	line-height: 46px;
	color: #dddddd;
}*/
@media screen and (max-width: 768px) {
    #container #header .branding span {
        float: right;
        margin: 0;
        display: none;
    }
}
