﻿/*取消Table所有屬性*/
.cleartable
{
    border:0px;
}
.cleartable th
{
    background: RGBA(0,0,0,0);
    border:0px;
    height:10px;
}

.cleartable tr
{
    background: RGBA(0,0,0,0);
    border:0px; 
    height:10px; 
}

.cleartable td
{
    background: RGBA(0,0,0,0);
    border:0px;
    text-align:left;
    height:10px;   
    padding : 0px;
}

.cleartable tr:nth-child(even) td
 {
    background: RGBA(0,0,0,0);
}

.cleartable tr:nth-child(odd) td
 {
    background: RGBA(0,0,0,0);
}

