body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    font-family: "Segoe UI", Verdana, Geneva, sans-serif;
    font-size: small;
    line-height: 20px;
    background-color: #161b1e;
    height: 500px;
}

.page #container {
    width: 100%;
    background: #FFFFFF;
    margin: 0 auto;
    border: 0px solid #000000;
    text-align: left;
}

.page #header {
    /*background-color: #21252d;*/
    /*background-image: url(../images/logo.png);*/
    background-color: #15466C;
    background-image: url(../assets/img/banner.png);
    background-repeat: no-repeat;
    background-position: left top;
    height: 63px;
    padding: 0;
    position: relative;
    z-index: 10;
}

    .page #header .login {
        background-color: #FFFFFF;
        float: right;
        width: 402px;
        padding-left: 40px;
        padding-top: 5px;
        height: 55px;
        color: #fff;
        line-height: 1.3em;
        /*background-image: url(images/info_bg.jpg);*/
        position: relative;
        z-index: 11;
    }

    .page #header .name {
        padding-right: 45px;
        padding-top: 6px;
        float: right;
        text-align: left;
        font-size: .8em;
    }

.page #menu {
    margin: 0;
    background: #F2EDEA url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAIAAADEwMXAAAAAA3NCSVQICAjb4U/gAAAAMklEQVQImWP49PYV0////6GYAcFm+I9d/P9/JgZkcRR12NVDzMMihlMtRJyBkHpMNwIA6ZmLp7k56KwAAAAASUVORK5CYII=) 100% 100%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    height: auto;
    width: auto;
    position: relative;
    z-index: 12;
    /*
	background-color: #FFFFFF;
	background-image: url(images/bg2.jpg);
	background-repeat: no-repeat;
	height: 35px;
	color: #000000;
	padding-top: 5px;
	padding-left: 0px;
	font-size: 12px;
    */
}

    .page #menu a:link {
        /*color: #000000;*/
    }

.page #mainContent {
    margin: 0px;
    padding: 10px;
    background-color: #FFFFFF;
    background-image: url(images/bg3.jpg);
    background-repeat: repeat-x;
    background-position: top;
    /*height:415px;*/
    overflow: auto;
}

    .page #mainContent .content {
        width: 100%;
        height: 350px;
        overflow: auto;
    }

h2 {
    margin: 0px;
    color: #438795;
    background-image: url(images/water.png);
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 3px #b5dcd3 solid;
    background-position: 5px 2px;
    margin-top: 0px;
    margin-bottom: 10px;
}
/*.page #footer {
	background-color: #161b1e;
	background-image: url(images/foot_bg.jpg);
	padding-top: 13px;
	padding-bottom: 0;
	vertical-align: middle;
	height: 25px;
	text-align: center;
	font-size: 11px;
	color: #A8B7BF;
	background-repeat: repeat-x;
}
.page #footer p {
	margin: 0; 
	padding: 5px 0; 
}*/

.page #footer {
    padding: 10px 0;
    text-align: center;
    background: #1c539b;
    margin-top: 0px;
    color: #fff;
    /*display: block;
  padding-top: 50px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;*/
}
/*.page #footer a, .page #footer a:link {
  color: #fff;
  text-decoration: none;
}*/

.path {
    float: right;
    color: #666666;
    font-size: .9em;
}

    .path a:link {
        color: #000;
    }

a:link {
    color: #007DE3;
    text-decoration: none;
}

a:visited {
    color: #007DE3;
    text-decoration: none;
}

a:hover {
    color: #FF8906;
    text-decoration: underline;
}

a:active {
    color: #007DE3;
    text-decoration: none;
}

.cssbutton {
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    padding: 5px 5px 0px 5px;
    text-decoration: none !important;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #79bbff), color-stop(100%, #4197ee) );
    background: -moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
    background: -ms-linear-gradient( top, #79bbff 5%, #4197ee 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color: #79BBFF;
    color: #FFFFFF;
    display: inline-block;
    text-shadow: 1px 1px 0px #405bb4;
    -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
    -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
    box-shadow: inset 1px 1px 0px 0px #ffffff;
}

    .cssbutton:visited {
        　　color: #FFFFFF;
    }

    .cssbutton:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #4197ee), color-stop(100%, #79BBFF) );
        background: -moz-linear-gradient( center top, #4197ee 5%, #79BBFF 100% );
        background: -ms-linear-gradient( top, #4197ee 5%, #79bbff 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197EE', endColorstr='#79BBFF');
        background-color: #4197EE;
    }

    .cssbutton:link {
        color: #FFFFFF;
    }

    .cssbutton:active {
        position: relative;
        top: 1px;
    }

    .cssbutton span {
        color: #FFFFFF;
    }


.place, .winnings, .points {
    text-align: center;
}

.totals {
    text-align: right;
    font-weight: lighter;
}

#totals {
    font-weight: bold;
}

tfoot {
    background-color: white;
    font-size: 110%;
}

span {
    color: #8c8c8c;
}

