body {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	font-family: \5FAE\8EDF\6B63\9ED1\9AD4, Arial, Microsoft JhengHei, MingLiU, sans-serif;
}
section {
	width: 1160px;
	height: 686px;
	margin: 0px auto;
	border: 0px solid #000;
	background-image: url(../images/envctrl/bg.png);
	position: relative
}
.set01_a {
	width: 130px;
	position: absolute;
	left: 81px;
	top: 55px;
	border: 0px solid #000
}

.set01_a span{margin-bottom:40px;} 
.set01_b{
	width: 130px;
	position: absolute;
	left: 349px;
	top: 376px;
	border: 0px solid #000
}
.set01_c{
	width: 230px;
	position: absolute;
	left: 496px;
	bottom: 560px;
	border: 0px solid #000
}

.set02_c1{
	width: 130px;
	position: absolute;
	right: 256px;
	bottom: 159px;
	border: 0px solid #000
}
.set02_c1 span{margin-bottom:30px;} 
.set01_d{
	width: 230px;
	position: absolute;
	left: 390px;
	bottom: 412px;
	border: 0px solid #000
}
.set02_a{
	width: 283px;
	position: absolute;
	right: 60px;
	top: 495px;
	border: 0px solid #000
}

.set02_b{
	width: 180px;
	position: absolute;
	right: 109px;
	top: 197px;
	border: 0px solid #000
}

.set02_c{
	width: 355px;
	position: absolute;
	right: 476px;
	top: 319px;
	border: 0px solid #000;
	height: 175px;
}

.set02_d{
	width: 180px;
	position: absolute;
	right: 107px;
	top: 51px;
	border: 0px solid #000
}

.set03{
	width: 1192px;
	position: absolute;
	left: 0px;
	top: 686px;
	border: 0px solid #000;
	display: inline-block
}
fieldset{
	width:260px;
	margin-right:10px;
	border: 0px solid #d4d4d4;float:left
}

legend{font-size:16px;text-align:center;
background-color:#f4f4f4;width:100%;margin-bottom:10px}
fieldset:last-child{

	margin-right:0px;
	
}
.list {
	width:60px!important;
	height:60px;
	display: inline-block;
	padding-bottom: 15px;
	text-align: center;
	vertical-align: top;border:0px solid #fff
}
 .light {
	 margin-top:15px;
	width:30px;margin-bottom:4px;

}
i{	font-style:normal;color:#00F;font-size:14px;}

/*table*/

.set03 table {
  border-collapse: collapse;
  width: 175px;
}
table {
  border-collapse: collapse;
  width: 180px;
}
.y1{
  border-collapse: collapse;
  width: 225px!important;
}
th {
  background-color: #666;
  font-weight: bold;
  color:#fff
}
th,
td {
  border:1px solid #333;

  padding: 5px;
  text-align:center
}
th{width:60px;}

td img{
  width:20px;
}

 .g th{background-color:#01bfbf;color:#000}
  .g td{color:#00f}
  
   .p th{background-color:#c664c7;color:#fff}
  .p td{color:#00f}
  
     .y th{background-color:#FFBE10;color:#fff}
  .y .bottom{background-color:#03C}
  .blue{color:#00F}
/*table*/
