﻿/*
 * 自定的Table畫面。
 */
.fancytable {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

    .fancytable th {
        background: none repeat scroll 0 0 #444444;
        border: 1px solid #777777;
        color: #FFFFFF;
        font-size: 13px;
        padding: 5px;
        text-align: center;
    }

    .fancytable tr {
        border: 1px solid #c6c9cc;
        color: #555555;
        text-align: center;
    }

    .fancytable td {
        border: 1px solid #c6c9cc;
        background-color: white;
        padding: 5px;
    }


    .fancytable tr:nth-child(even) td {
        background-color: white;
    }

    .fancytable tr:nth-child(odd) td {
        background-color: #e8eae9;
    }



.headerrow {
    background-color: #0066cc;
}

    .headerrow td {
        color: #ffffff;
        text-align: center;
    }

.sexyborder {
    border: 1px solid #0066cc;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fancytable tr:nth-child(1) {
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
}

.fancytable tr:first-child td:last-child {
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
}

.fancytable tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
}

.fancytable tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
}
