/**
 * Expands an element to fit its container
 */
html {
  box-sizing: border-box;
  color: #444;
  font-size: 14px;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
#lakes { overflow: hidden; z-index:1;position: absolute;
	top: 0;
	left: 0;}
.auth-wrap-background {
	background-image: url(../images/login1.jpg?crop=entropy&fit=crop&fm=jpg&h=1080&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1920%22);
	background-size: cover;
	background-position: 50%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.auth-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:999;
}

.auth-blur {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  overflow: hidden;
}

.auth-size {
  max-height: 440px;
  max-width: 780px;
  height: 440px;
  width: 100%;
}

.auth__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -moz-box-shadow: 1px 5px 10px rgba(0,0,0,.8);
-webkit-box-shadow: 1px 5px 10px rgba(0,0,0,.8);
box-shadow: 1px 5px 10px rgba(0,0,0,.8);
	
}

.auth__inner__section {
  padding: 1.25rem 2rem;
}

.auth__sidebar {
		background-image: url(../images/login2.jpg);
 
  -webkit-box-flex: 40%;
  -webkit-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.auth__form {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-flex: 45%;
  -webkit-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
}

.form__title {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 1em 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

.form__label {
  padding-bottom: 1.25rem;
  display: block;
}

.form__label__text {
  color: #87909c;
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
}

.form__input {
  background: transparent;
  color: #000;
  border: 0;
  border-bottom: 2px solid transparent;
  display: block;
  outline: 0;
  position: relative;
  padding: 15px 0px;
  font-size:16px;
  width: 100%;
}
.form__input:focus {
  border-color: 2px solid rgba(255, 255, 255, 0.5);
}

.form__input-border {
  border-bottom: 1px solid #87909c;
  display: block;
}

.button {
  background: #4998e6;
  border-radius: 3px;
  border: 0;
  color: #fff;
  display: block;
  line-height: 60px;
  margin-top: 20px;
  outline: 0;
  width: 100%;
}

.form__meta {
  font-size: 0.6875rem;
  padding: 10px 0;
}

.sky {
	height: 480px;
	position: relative;
	overflow: hidden;
	z-index:99;
	-webkit-animation: sky_background 50s ease-out infinite;
	-moz-animation: sky_background 50s ease-out infinite;
	-o-animation: sky_background 50s ease-out infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0)
}
.moon {
	background: url("http://montanaflynn.me/lab/css-clouds/images/moon.png");
	position: absolute;
	left: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: moon 50s linear infinite;
	-moz-animation: moon 50s linear infinite;
	-o-animation: moon 50s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0)
}
.clouds_one {
	background: url("http://montanaflynn.me/lab/css-clouds/images/cloud_one.png");
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: cloud_one 50s linear infinite;
	-moz-animation: cloud_one 50s linear infinite;
	-o-animation: cloud_one 50s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0)
}
.clouds_two {
	background: url("http://montanaflynn.me/lab/css-clouds/images/cloud_two.png");
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: cloud_two 75s linear infinite;
	-moz-animation: cloud_two 75s linear infinite;
	-o-animation: cloud_two 75s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0)
}
.clouds_three {
	background: url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300%;
	-webkit-animation: cloud_three 100s linear infinite;
	-moz-animation: cloud_three 100s linear infinite;
	-o-animation: cloud_three 100s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0)
}
 @-webkit-keyframes sky_background {
 0% {
 color: #007fd5
}
 50% {
 color: #a3d9ff
}
 100% {
 color: #007fd5
}
}
 @-webkit-keyframes moon {
 0% {
 opacity: 0;
 left: -200% -moz-transform: scale(0.5);
 -webkit-transform: scale(0.5);
}
 50% {
 opacity: 1;
 -moz-transform: scale(1);
 left: 0% bottom: 250px;
 -webkit-transform: scale(1);
}
 100% {
 opacity: 0;
 bottom: 500px;
 -moz-transform: scale(0.5);
 -webkit-transform: scale(0.5);
}
}
 @-webkit-keyframes cloud_one {
 0% {
 left: 0
}
 100% {
 left: -200%
}
}
 @-webkit-keyframes cloud_two {
 0% {
 left: 0
}
 100% {
 left: -200%
}
}
 @-webkit-keyframes cloud_three {
 0% {
 left: 0
}
 100% {
 left: -200%
}
}
 @-moz-keyframes sky_background {
 0% {
 color: #007fd5
}
 50% {
 color: #a3d9ff
}
 100% {
 color: #007fd5
}
}
 @-moz-keyframes moon {
 0% {
 opacity: 0;
 left: -200% -moz-transform: scale(0.5);
 -webkit-transform: scale(0.5);
}
 50% {
 opacity: 1;
 -moz-transform: scale(1);
 left: 0% bottom: 250px;
 -webkit-transform: scale(1);
}
 100% {
 opacity: 0;
 bottom: 500px;
 -moz-transform: scale(0.5);
 -webkit-transform: scale(0.5);
}
}
 @-moz-keyframes cloud_one {
 0% {
 left: 0
}
 100% {
 left: -200%
}
}
 @-moz-keyframes cloud_two {
 0% {
 left: 0
}
 100% {
 left: -200%
}
}
 @-moz-keyframes cloud_three {
 0% {
 left: 0
}
 100% {
 left: -200%
}
}