/* 加載csshover3.htc，解決IE6沒有li:hover擬類的問題 */
* html body{
	behavior:url("csshover3.htc");
}
/* ---------- 大小與定位 ---------- */
#menu{
	/* 選單大小 */
	/*width:600px;*/
	height:29px;	
}
#menu ul{
	/* 取消ul樣式符號 */
	list-style-type:none;
	/* 重設ul邊界與留白為零 */
	margin:0;
	padding:0;
	/* 內有浮動元件時，需設overflow才會自動調整大小 */
	overflow:auto;
	/*margin-top:-5px;*/
}
* html #menu ul{
	/* 解決IE6不理overflow問題，直接指定高度 */
	height:29px;
}

#menu ul li{
	/* 利用float讓第一層li水平排列 */
	float:left;
}
/* 解決IE6條列式餘白問題*/
* html #menu ul li{
	display:inline;
}

#menu ul li a{
	/* 將a改為區塊元件，以便指定寬高 */
	display:block;
	/* 這邊也要設float，否則IE6會以100%寬度顯示 */
	float:left;
	/* 固定高度 */
	height:24px;
	/* 設定上方padding讓文字垂直置中，設定左右padding加大按鈕距離 */
	padding:5px 15px 0 15px;
}

#menu ul li ul{
	/* 讓第二層ul跳脫文件流以利定位 */
	position:absolute;
	/* 固定寬度 */
	width:185px;
	/* 避免出現捲軸 */
	overflow:visible;
	/* 讓ul與母階層li相同位置 */
	clear:left;
	/* 再利用margin作定位 */
	margin:29px 0 0 0;
}

/* 修正IE7絕對定位差異 */
*:first-child+html #menu ul li ul{
	margin-top:0;
}

/* 修正IE6絕對定位差異 */
* html #menu ul li ul{
	margin-top:0;
}
#menu ul li ul li{
	/* 第二層以上固定寬度 */
	width:185px;
	/* 覆寫繼承自第一層的浮動設定 */
	float:none;
}
#menu ul li ul li a{
	/* 覆寫繼承自第一層的浮動設定 */
	float:none;
	/* 註：display、height、padding繼承第一層的設定 */
}
#menu ul li ul li ul{
	/* 利用margin作定位 */
	margin:-29px 0 0 185px;
}
/* 修正IE7絕對定位差異 */
*:first-child+html #menu ul li ul li ul{
	margin-top:-29px;
}

#menu ul li ul li ul li{
	/* width、float繼承第二層，免設定 */
}
#menu ul li ul li ul li a{
	/* width、float繼承第二層，免設定 */
}

/* ---------- 隱藏與顯示階層 ---------- */
#menu ul li ul{
	/* 預先隱藏第二層 */
	visibility:hidden;
}
#menu ul li:hover ul{
	/* 觸動第一層時，顯示第二層 */
	visibility:visible;
}
#menu ul li:hover ul li ul{
	/* 顯示第二層時，隱藏第三層，避免同時彈出 */
	visibility:hidden;
}
#menu ul li ul li:hover ul{
	/* 觸動第二層時，顯示第三層 */
	visibility:visible;
}
#menu ul li ul li:hover ul li ul{
	/* 顯示第三層時，隱藏第四層，避免同時彈出 */
	visibility:hidden;
}
#menu ul li ul li ul li:hover ul{
	/* 觸動第三層時，顯示第四層 */
	visibility:visible;
}





/* ---------- 以下為美化用，非必需 ---------- */


/* 預設字體 */
#menu{
    border:none;
	font: 67.5%;
    font-family:\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,MingLiU,sans-serif;
	font-size:1em;
	font-weight:bold;
}
/* 第一層ul背景色彩與邊框 */
#menu ul{
    /*
    background-image: url(images/menu_bg.jpg);
	background-repeat: repeat-x;
    */

    background: #F2EDEA url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAIAAADEwMXAAAAAA3NCSVQICAjb4U/gAAAAMklEQVQImWP49PYV0////6GYAcFm+I9d/P9/JgZkcRR12NVDzMMihlMtRJyBkHpMNwIA6ZmLp7k56KwAAAAASUVORK5CYII=) 100% 100%;
}

/* 第一層a字型 */
#menu ul li a{   
    border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #B1ADAE;
	color:#000000;
	text-decoration:none;
	font-weight:bold;

    background: #F2EDEA url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAIAAADEwMXAAAAAA3NCSVQICAjb4U/gAAAAMklEQVQImWP49PYV0////6GYAcFm+I9d/P9/JgZkcRR12NVDzMMihlMtRJyBkHpMNwIA6ZmLp7k56KwAAAAASUVORK5CYII=) 100% 100%;
}

/*第二層ul背景色彩與邊框  */
#menu ul li ul{
	background:#606F7F;
	border-right:1px #dfdfdf solid;
	border-bottom:1px #dfdfdf solid;
}
/* 第二層a字型 */
#menu ul li ul li a{
    border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #484B52;
	color:#FFFFFF;
	font-weight:normal;
	text-decoration:none;

    background:#606F7F;
}
/* 觸動第一層li時，改變背景色 */
#menu ul li:hover,#menu ul li a:hover{
    background:#4A5662 url('images/hover_sub.gif') center left no-repeat;
	border:0px;
	color:#FFFFFF;
	text-decoration:none;
}

/* 觸動第二層以上li時改變背景色 */
#menu ul li ul li:hover,#menu ul li ul li a:hover{
	background:#4A5662 url('images/hover_sub.gif') center left no-repeat;
	border:0px;
	color:#FFFFFF;
    font-weight:bold;
	text-decoration:none;
}
