﻿#overlay {
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 40%; /* positions the div half way horizontally */
    top: 40%; /* positions the div half way vertically */
    background-color: #ffffff;
    z-index: 100000; /* makes the div the top layer, so it’ll lay on top of the other content */
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    border: double;
    border-width: 2px;
    border-color: #c8d1e0;
}
#fade {
    position: absolute;  /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 0%; /* makes the div span all the way across the viewing area */
    top: 0%; /* makes the div span all the way across the viewing area */
    background-color: black;
    -moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 99999; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}
