﻿.modalBackground
{
	background-color:#666666;
	filter: alpha(opacity=90);
	opacity: 0.9;
}
.modalWindow
{
	/*background-color:#e5e5e5;*/
	/*border: 10px solid #e5e5e5;*/
    background-color:#e8eae9;
    border: 10px solid #14a0c0;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	/*behavior: url(/PIE.htc);
	position: relative;*/
}
