﻿body {
    background: #fafafa url(http://jackrugile.com/images/misc/noise-diagonal.png);
    color: #444;
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.tableStyle {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 0px auto;
    text-align: center;
    width: 800px;
}

    .tableStyle th {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#4b78b0, #444);
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
    }

        .tableStyle th:after {
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
            content: '';
            display: block;
            height: 25%;
            left: 0;
            margin: 1px 0 0 0;
            position: absolute;
            top: 25%;
            width: 100%;
        }

        .tableStyle th:first-child {
            border-left: 1px solid #777;
            box-shadow: inset 1px 1px 0 #999;
        }

        .tableStyle th:last-child {
            box-shadow: inset -1px 1px 0 #999;
        }

    .tableStyle td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e8e8e8;
        padding: 5px 15px 5px;
        position: relative;
        transition: all 300ms;
    }

        .tableStyle td:first-child {
            box-shadow: inset 1px 0 0 #fff;
        }

        .tableStyle td:last-child {
            border-right: 1px solid #e8e8e8;
            box-shadow: inset -1px 0 0 #fff;
        }

    .tableStyle tr {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
    }

        .tableStyle tr:nth-child(odd) td {
            background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
        }

        .tableStyle tr:last-of-type td {
            box-shadow: inset 0 -1px 0 #fff;
        }

            .tableStyle tr:last-of-type td:first-child {
                box-shadow: inset 1px -1px 0 #fff;
            }

            .tableStyle tr:last-of-type td:last-child {
                box-shadow: inset -1px -1px 0 #fff;
            }

    .tableStyle tbody:hover td {
        /*color: lightgray;*/
        text-shadow: 0 0 3px #aaa;
    }

    .tableStyle tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
    }
