﻿th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 2px;
}

.ui-jqgrid tr.jqgrow td {
    height: 30px;
    vertical-align: middle;
    font-size:small;
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 30px;
    vertical-align: middle;
    font-size: medium;
}

.ui-tabs .ui-tabs-nav {
    text-align: center;
}

    .ui-tabs .ui-tabs-nav li {
        float: none !important;
        display: inline-block;
    }

.ui-jqgrid .ui-widget-header {
    background-color: #444444;
    background-image: none;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    height: 40px;
    font-size: medium;
    color: white;
}

.ui-th-column-header {
    text-align: center;
}
