﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" EnableViewState="false"
    CodeFile="DamMonitor.aspx.cs" Inherits="Report_DamMonitor_DamMonitor" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <style>
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <iframe frameborder="0" style="width: 100%; height: 100%;" align="middle" runat="server" id="frm"></iframe>
</asp:Content>
