﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="UploadData.aspx.cs" Inherits="Earthquake_UploadData" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
      <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="UploadData.html"></iframe>
</asp:Content>

