﻿<%@ Page Title="湖山水庫年報表" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="HushanYearReport.aspx.cs" Inherits="Reservoir_HushanYearReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
         <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="HushanYearReport.html"></iframe>
</asp:Content>

