﻿<%@ Page Title="湖山水庫月報表" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="HushanMonthReport.aspx.cs" Inherits="Reservoir_HushanMonthReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
               <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="HushanMonthReport.html"></iframe>
</asp:Content>

