﻿<%@ Page Title="集集攔河堰年報表" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="JijiDamYearReport.aspx.cs" Inherits="Reservoir_JijiDamYearReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="JijiDamYearReport.html"></iframe>
</asp:Content>

