﻿<%@ Page Title="集集攔河堰月報表" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="JijiDamMonthReport.aspx.cs" Inherits="Reservoir_JijiDamMonthReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="JijiDamMonthReport.html"></iframe>
</asp:Content>

