﻿<%@ Page Title="雨量日報表" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="DayReport.aspx.cs" Inherits="Rain_DayReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="DayReport.html"></iframe>
</asp:Content>

