<style type="text/css">
<!--
.style1 {
	font-family: "標楷體";
	font-size: 24px;
}
.style2 {font-family: "標楷體"}
.style4 {font-family: "標楷體"; font-size: 18px; }
.style5 {font-size: 18px}
-->
</style>

<table width="696" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="36" colspan="2"><div align="center" class="style1">湖山水庫管制區進入作業申請單</div></td>
  </tr>
  <tr>
    <td width="479" height="27">&nbsp;</td>
    <td width="217"><span class="style4">申請時間：$Year年$Month月$Day日</span></td>
  </tr>
</table>
<table width="708" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
  <tr>
    <td width="221" height="38" align="center" valign="middle"><span class="style4">工作內容</span></td>
    <td colspan="2"><span class="style4">$Job</span></td>
  </tr>
  <tr>
    <td height="50" align="center" valign="middle"><span class="style4">地點人數</span></td>
    <td colspan="2"><span class="style4">位置：$Place<BR>
    人數：$Pepole</span></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><span class="style4">預定時間</span></td>
    <td colspan="2"><p class="style4">$SYear年$SMonth月$SDay日&nbsp&nbsp時間：$STime 起<BR>
        $EYear年$EMonth月$EDay日&nbsp&nbsp時間：$ETime 訖</p></td>
  </tr>
  <tr>
    <td><span class="style4">申請單位或廠商：<BR>
      $company<BR>
    申請人手機：<BR>
    $Phone<BR>
	登錄車牌：<BR>
    $CarNo</span></td>
    <td width="277" align="left" valign="middle"><span class="style4">管制區經辦人：$DealPepole</span></td>
    <td width="200" rowspan="2"><span class="style4">主任：$Officer<BR>
    (或代理人)</span></td>
  </tr>
  <tr>
    <td height="105"><span class="style4">中水局主辦課室：<BR>
    $Org</span></td>
    <td><span class="style4">警勤室：$Guard</span></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><span class="style4">平日</span></td>
    <td colspan="2"><ol class="style5">
      <li><span class="style2">向鑰匙管理人員領取鑰匙</span></li>
      <li><span class="style2">工作完畢鑰匙繳回鑰匙管理人員</span></li>
      <li><span class="style2">管理中心鑰匙管理人員核章：</span><u> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </u></li>
    </ol></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><span class="style4">假日</span></td>
    <td colspan="2"><ol class="style5">
      <li><span class="style2">向值勤人員領取鑰匙</span></li>
      <li><span class="style2">工作完畢鑰匙繳回值勤人員</span></li>
      <li><span class="style2">值勤人員核章：</span> <u> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </u> </li>
    </ol></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><span class="style4">備 註</span></td>
    <td colspan="2"><ol class="style5">
      <li><span class="style2">進入人員應由湖山水庫管理中心指派之人員會同開啟入口鑰匙（或操作水門）</span></li>
      <li><span class="style2">奉核後警勤室需通知現場保全人員。</span></li>
      <li><span class="style2">所有進入危險區域之工作人員均應穿戴安全防護配備。</span></li>
      <li><span class="style2">現場應有負責連繫人員（備妥通訊設備）隨時與本中心值勤人員通知作業地點及作業人數。</span></li>
      <li><span class="style2">工作完成，申請人平日必須通知鑰匙管理人員簽名確認。假日必須通知值勤人員簽名確認</span></li>
      <li><span class="style2">申請閘門維護廠商、務必填寫閘門啟閉申請單。<br />
      </span></li>
    </ol></td>
  </tr>
  <tr>
	 <td align="center" height="50" valign="middle"><span class="style4">保全崗哨</span></td>
     <td colspan="2"><span class="style4">$Sentry <P></span></td>
  </tr>
</table>

