﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="LoginInfo.ascx.cs" Inherits="WebUserControlers_LoginInfo" %>
登入帳號
    <asp:Literal ID="LoginAccountLiteral" runat="server"></asp:Literal><br />
<span style="display: none">登入IP
        <asp:Literal ID="LoginIPLiteral" runat="server"></asp:Literal><br />
</span>
登入時間 
        <asp:Literal ID="LoginDateTimeLiteral" runat="server"></asp:Literal>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="LogoutLinkButton" runat="server" CssClass="buttonStyle" OnClick="LogoutLinkButton_Click" Text="登出"></asp:Button>
