﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Modal.ascx.cs" Inherits="WebUserControlers_Modal" %>
<asp:UpdateProgress ID="UpdateProgress1" runat="server">
    <ProgressTemplate>
        <div id="overlay">
            <asp:Image ID="Image1" runat="server" ImageUrl="~/images/Icons/loading.gif" BorderWidth="0px" ImageAlign="Middle" />
        </div>
        <div id="fade"></div>
    </ProgressTemplate>
</asp:UpdateProgress>

