﻿/* popup */
.PopupBackground
{
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.popup
{ 
    padding: 7px;
    position: relative;
    top: -50px;
    background: url(images/blank.png) repeat left top;
    _background: url(images/blank.gif) repeat left top;
    border: 1px solid #acd2ef;
    z-index: 10000;
}

.popup .popup_close
{
    position: absolute;
    top: 15px;
    right: 15px;
    background: url(images/close.png) no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.popup div.popup_title
{
    padding-top: 2px;
    padding-left: 10px;
    background: #7492ab;
    border: 1px solid #3073ab;
    border-bottom: none;
    color: #fff;
    text-align: left;
    line-height: 30px;
    letter-spacing: 3px;
    cursor: move;
}
.popup .popup_content
{
    background: #FFF;
    padding: 10px;
    border: 1px solid #3073ab;
    border-top: none;
}
.popup_content .cmd
{
    clear: both;
    background: #7492ab;
    margin: 10px -10px -10px -10px;
    padding: 5px;
    text-align: right;
}