﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="RealtimeInfo.aspx.cs" Inherits="EnvironmentControl_RealtimeInfo" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
          <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="RealtimeInfo.html"></iframe>
</asp:Content>

