﻿<%@ Page Title="外部系統簡訊事件查詢" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="SupplierHistoryEvent.aspx.cs" Inherits="EnvironmentControl_SupplierHistoryEvent" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
      <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="SupplierHistoryEvent.html"></iframe>
</asp:Content>

