﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CheckBoxMenuList.ascx.cs" Inherits="WebUserControlers_AccountManagement_CheckBoxMenuList" %>
<asp:UpdatePanel ID="UpdatePanel1" runat="server" RenderMode="Inline">
    <ContentTemplate>
        <asp:PlaceHolder ID="MenuPlaceHolder" runat="server"></asp:PlaceHolder>
    </ContentTemplate>
</asp:UpdatePanel>
<%--<script type="text/javascript" language="javascript">
    $(function () {
        $("#MenuCheckBoxTree").treeview({
            collapsed: false,
            animated: "medium",
            control: "#sidetreecontrol",
            persist: "location"
        });
    });
</script>--%>
