﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CheckBoxGroupList.ascx.cs" Inherits="WebUserControlers_AccountManagement_CheckBoxGroupList" %>
<asp:Table ID="GroupTable" runat="server" CssClass="cleartable">
</asp:Table>