﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CheckBoxDepartmentList.ascx.cs" Inherits="WebUserControlers_AccountManagement_CheckBoxDepartmentList" %>
<asp:Table ID="DepartmentTable" runat="server" CssClass="cleartable">
</asp:Table>
