﻿<%@ Page Title="蒸發量月報" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="MonthReport.aspx.cs" Inherits="Evaporation_MonthReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
          <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="MonthReport.html"></iframe>
</asp:Content>

