﻿<%@ Page Title="即時資訊看板" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="CompositeRealtimeInfos.aspx.cs" Inherits="Realtime_CompositeRealtimeInfos" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="CompositeRealtimeInfos.html"></iframe>
</asp:Content>

