﻿<%@ Page Title="簡訊紀錄查詢" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="ShowSmsLog.aspx.cs" Inherits="Message_ShowSmsLog" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
       <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="ShowSmsLog.html"></iframe>
</asp:Content>

