﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SearchDate.ascx.cs" Inherits="UserControl_SearchDate" %>

<label runat="server" class="monitoredserver-searchDatetime" id="title"></label>
<input type="text" data-datetimepicker  runat="server" class="datepicker monitoredserver-startDatetime" name="date" id="date" />
