﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="GisMap_index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <iframe id="MapIframe" src="../../HushanGIS/" 
     frameborder="0" scrolling="no" width="100%"></iframe>
     
   <script type="text/javascript" language="javascript">
       function AdjustMapIframe() {
           var OffectHeight = 210;
           document.getElementById("MapIframe").height = window.innerHeight - OffectHeight;
           window.setTimeout("AdjustMapIframe()", 0);
       }
       AdjustMapIframe();
    </script>
</asp:Content>

