﻿<%@ Page Title="網路設備歷史狀態" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="HistoryNetworkStatus.aspx.cs" Inherits="NetworkEquipment_HistoryNetworkStatus" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="HistoryNetworkStatus.html"></iframe>
</asp:Content>

