﻿<%@ Page Title="網路設備即時狀態" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="RealtimeNetworkStatus.aspx.cs" Inherits="NetworkEquipment_RealtimeNetworkStatus" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="RealtimeNetworkStatus.html"></iframe>
</asp:Content>

