﻿<%@ Page Title="滲漏室日報" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="DayReport.aspx.cs" Inherits="Seepage_DayReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
           <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="DayReport.html"></iframe>
</asp:Content>

