﻿<%@ Page Title="滲漏室年報" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="YearReport.aspx.cs" Inherits="Seepage_YearReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
                   <iframe frameborder="0"
        style="width: 100%; height: 700px;" align="middle" runat="server" src="YearReport.html"></iframe>
</asp:Content>

