﻿<%@ Page Title="原水管報表" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Report.aspx.cs" Inherits="WaterPipe_DayReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <iframe id="iframeContainer" frameborder="0" style="width: 100%; height: 700px;" align="middle" runat="server"></iframe>
</asp:Content>

